@font-face {
    font-family: "Open-Sans";
    src: url("./assets/fonts/static/OpenSans/OpenSans-Bold.ttf");
}

* {
    margin: 0px;
    padding: 0px;
    font-size: 24px;
    font-weight: 400;
}

a {
    color: black;
}

a:hover {
    color: black;
}

h1 {
    font-family: "Open-Sans";
    font-size: 40px;
    font-weight: 600;
}

h2 {}
